.trk_inspired {
    background-image: url(http://www.clker.com/cliparts/i/i/Y/Z/G/d/top-right-corner-hi.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 97% 10%;
}

#tracker {
    position: fixed;
    top: 20px;
    left: 60px;
    z-index: 999;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 3px #666;
    padding: 9px;
    width: 175px;
    font-size: 1em;
    line-height: 1em;
}

#tracker:empty {
    display: none;
}

#trk_toast_holder {
    position: absolute;
    bottom: 20px;
    right: 330px;
    z-index: 999;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.toast {
    margin: 5px;
    box-shadow: black 0 1px 2px;
    padding: 10px;
    border-radius: 3px;
    color: white;
    background-color: cornflowerblue;
    animation: fadeOut 1s linear 8s forwards;
    cursor: initial;
    width: 400px;
    font-size: 16px;
}

.toast div {
    float: right;
    padding: 2px;
    line-height: 0;
}

.toast div::after {
    content: "x";
    cursor: pointer;
}

#tracker label {
    width: 35px;
    display: inline-block;
    margin-bottom: 1px;
    line-height: 1em;
}

#tracker label + div {
    width: 115px;
    position: relative;
    display: inline-block;
}

#tracker .statbox {
    padding: 5px;
    box-shadow: #525252 0 0 1px 1px;
    margin-bottom: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    text-align: center;
}

meter {
    width: 100%;
}