<!doctype html>
<html>
<head>
<title>Roll 20 Tracker </title>
</head>
<body ng-app="TrackerOptions">
	<div ng-controller="TrackerOptions">
		<fieldset>
			<legend>Stats to Display</legend>
			<div><input type="checkbox" ng-model="options.stats.hp" /> HP</div>
			<div><input type="checkbox" ng-model="options.stats.hp_temp" /> Temp HP</div>
			<div><input type="checkbox" ng-model="options.stats.ac" /> Armor Class</div>
			<div><input type="checkbox" ng-model="options.stats.pb" /> Proficiency Bonus</div>
		</fieldset>	
</div>

<script src="js/vendor/angular.js"></script>
<script src="js/options.js"></script>

</body>
</html>